@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/containers.css");
@import url("../blocks/container.css");
@import url("../blocks/confirmation.css");
@import url("../blocks/counts.css");
@import url("../blocks/count.css");
@import url("../blocks/buttons.css");
@import url("../blocks/button.css");