.confirmation {
    width: 100%;
    position: absolute;
    display: none;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}

.confirmation__yes {
    display: flex;
}

.confirmation__text {
    font-size: 6vw;
    font-weight: 700;
    margin: auto 0 auto 0;
    padding: 0;
    animation: crazyText 1s ease-in-out infinite, jitterText 2s ease-in-out infinite alternate, fadeIn .25s ease-in-out infinite alternate;
}

@media screen and (max-width: 720px) {
    .confirmation {
        width: 85%;
        justify-content: space-between;
    }

    .confirmation__text {
        font-size: 7.5vw;
        margin-bottom: 3vw;
    }
}

@keyframes crazyText {
    0% {
        color: #FF3333;
    }
    12.5% {
        color: #FF8133;
    }
    25% {
        color: #FFF633;
    }
    37.5% {
        color: #91FF33;
    }
    50% {
        color: #33FFDA;
    }
    62.5% {
        color: #33A1FF;
    }
    75% {
        color: #9733FF;
    }
    87.5% {
        color: #FF33C3;
    }
    100% {
        color: #FF3360;
    }
}

@keyframes jitterText {
    0% {
        transform: scale(0.7) skew(-50deg) translate(-10vw);
    }
    50% {
        transform: scale(1.35) translate(0, 0);
    }
    100% {
        transform: scale(0.7) skew(50deg) translate(10vw);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}