.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98%;
  min-height: 300px;
}

.container_square {
  background-image: linear-gradient(#5cf0ab, #01a358);
  border-radius: 10px;
  width: 85%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px #000;
}

.container_square_bills {
  background-image: linear-gradient(#A9D6E5, #3393b3);
}

.container_square_red {
  background-image: linear-gradient(#FFCCD5, #e63959);
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 80%;
  min-height: 200px;
  margin: 10px auto 20px auto;
}

@media screen and (max-width: 720px) {
  .container {
    min-height: 200px;
  }

  .container_square_red {
    min-height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    min-height: 150px;
  }

  .container_square_red {
    min-height: 100px;
  }
}