.counts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5vh;
  height: 85vh;
}

.counts__header {
  font-size: 4.5vw;
  margin: 1.5vh auto;
}

.counts__label {
  font-size: 5vw;
}

.counts__input {
  margin-right: 1.5vw;
}

.counts {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.counts__buttons {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.counts__button {
  width: 30vw;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  font-size: 2.5vw;
  margin-bottom: 1vh;
}

.counts__value {
  font-size: 2.75vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.counts__coin {
  grid-column: 1;
  color: rgb(187, 54, 54);
}

.counts__bill {
  grid-column: 2;
  color: rgb(67, 50, 212);
}

.counts__final {
  color:rgb(10, 168, 18);
}

.counts__delete {
  margin: auto;
  border: none;
  background-color: rgb(201, 83, 16);
  color: #fff;
  grid-column: 2;
  position: relative;
  margin-top: 1vh;
  font-size: 4vw;
}