.header {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
  justify-content: center;
  background-color: #081C15;
}

.header__icons {
  display: flex;
  column-gap: 3vw;
}

.header__icon {
  width: 3vw;
  height: 3vw;
}

.header__links {
  display: flex;
  width: 85%;
  justify-content: space-around;
}

.header__link {
  margin-bottom: .5vh;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-size: 3vw;
}

.header__link-active {
  color: rgb(6, 163, 90);
}

@media screen and (max-width: 720px) {
  .header {
    height: 15vh;
  }
}