html::-webkit-scrollbar {
  width: 0;
}

main {
  font-family: 'Oxygen', sans-serif;
}

.page__wrapper {
  background-color: #D8F3DC;
}

.page__header {
  text-align: center;
  font-weight: 700;
  margin: 0;
  color: #FFF;
  font-size: 4vw;
}

@media screen and (max-width: 720px) {
  .page__header {
    max-width: 75%;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .page__header {
    font-size: 10vw;
  }
}